@-webkit-keyframes header-nav-li-blinks {
	0% { border-bottom-color: rgba(88, 128, 250, 0); }
	50% { border-bottom-color: rgba(88, 128, 250, 1.0); }
	100% { border-bottom-color: rgba(88, 128, 250, 0); }
}

@keyframes header-nav-li-blinks {
	0% { border-bottom-color: rgba(88, 128, 250, 0); }
	50% { border-bottom-color: rgba(88, 128, 250, 1.0); }
	100% { border-bottom-color: rgba(88, 128, 250, 0); }
}



body {
	background-color: #f5f5f5;
	}

a,
a:link {
	color: #33CCff;
	}

	a:visited {
		color: #33CCff;
	}

	a:active,
	a:hover {
		color: #0094ff;
	}



hr
{
	background-color: #4a5863;
}


em,
.cool {
	color: #038ace !important;
}

.ok {
	color: #0c0 !important;
}

.hot {
	color: #f83 !important;
}

.error,
.error > a,
.failure > a,
.failure {
	color: #f33 !important;
}



textarea,
input,
select {
	border-color: #ccc;
	}

	fieldset,
	input:focus,
	select:focus,
	textarea:focus,
	button:focus {
		outline-color: #373030;
	}

	input:not([type='radio']):not([type='checkbox']):not([type='color']):not([type='range']):focus,
	select:focus,
	textarea:focus {
		background-color: #ffc !important;
		border-color: #ffc !important;
	}

	select:focus option {
		background-color: inherit;
	}

	select[required],
	textarea[required],
	input[required] {
		color: #933;
		background-color: #fffafa;
		border-color: #fcc;
	}

	input:disabled,
	select:disabled,
	textarea:disabled,
	button:disabled {
		color: #ccc;
		border-color: #e4e4e4;
		background-color: #f3f3f3;
		font-style: italic;
	}




button {
	border: 1px solid;
	}

	button,
	button.blue {
		color: white;
		border-color: hsl(213, 40%, 40%);
		background-color: hsl(213, 50%, 50%);
		}

		button:hover,
		button:active,
		button.blue:hover,
		button.blue:active {
			border-color: hsl(213, 45%, 45%);
			background-color: hsl(213, 66%, 66%);
		}


	button.light {
		color: #696b6c;
		background-color: white;
		border-color: white;
		}

		button.light:hover,
		button.light:active {
			background-color: white;
			border-color: white;
		}


	button.gray {
		color: #69696b;
		background-color: #e7e7e9;
		border-color: #eaeaec;
		}

		button.gray:hover,
		button.gray:active {
			background-color: #efeff0;
			border-color: #efeff0;
		}


	button.dark {
		color: #fffffd;
		background-color: #4d5b64;
		border-color: #606d76;
		}

		button.dark:hover,
		button.dark:active {
			background-color: #71818b;
			border-color: #808e98;
		}


	button.red {
		color: #fefefe;
		border-color: #eb868a;
		background-color: #e8797d;
		}

		button.red:hover,
		button.red:active {
			border-color: #ff9397;
			background-color: #ff868a;
		}


	button.orange {
		color: white;
		border-color: hsl(37, 100%, 45%);
		background-color: hsl(37, 100%, 50%);
		}

		button.orange:hover,
		button.orange:active {
			border-color: hsl(37, 100%, 50%);
			background-color: hsl(37, 100%, 64%);
		}





.disabled,
.dimmed {
	color: #e8e8e8;
	}

	.state-zan-cun:before {
		/*content: '暂存';*/
		color: #ff8b00;
	}

	.state-shen-he-zhong:before {
		/*content: '审核中';*/
		color: #25c28d;
	}

	.state-shen-he-shi-bai:before {
		/*content: '审核失败';*/
		color: #e43d44;
	}

	.state-dai-tou-fang:before {
		/*content: '待投放';*/
		color: #25c390;
	}

	.state-tui-guang-zhong:before {
		/*content: '推广中';*/
		color: #009dfb;
	}

	.state-yi-xia-jia:before {
		/*content: '已下架';*/
		color: #bdbdbf;
	}

	.info-ok {
		color: #2f969b;
	}

	.info-warn {
		color: #ff8b00;
	}

	.info-alert {
		color: #ea797d;
	}

	.info-disabled,
	.info-dimmed {
		color: #bcbbc0;
	}





body > header,
body > footer {
	color: #939393;
	background-color: #373030;
}





body > header {
	box-shadow: 0 2px 3px rgba(0,0,0,0.4);
	}

	body > header .logo {
		background-image: url(../images/_common/dianhe-logo.png);
	}

	body > header .caption {
		background-image: url(../images/_common/dianhe-slogan.png);
	}



	body > header nav.level1 > ul > li {
		color: #bbb;
		border-color: rgba(102, 153, 204, 0);
		}

		body > header nav.level1 > ul > li.current,
		body > header nav.level1 > ul > li:not(.current):hover {
			/*border-bottom-color: rgba(102, 153, 204, 1.0);*/
			color: white;
			border-bottom-color: rgba(88, 128, 250, 1.0);
		}

	body > header nav.level2 {
			box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
		}

		body > header nav.level2 > ul {
			background-color: #373030;
			box-shadow: inset 0px 2px 3px rgba(0,0,0,0.6);
		}

		body > header nav.level2 > ul > li {
		}

		body > header nav.level2 > ul > li:hover {
			background-color: #36c;
		}

		body > header nav.level2 > ul > li > a {
			color: #bbb;
		}

		body > header nav.level2 > ul > li:hover > a {
			color: white;
		}






	body > header .account-info {
		}

		body > header .account-info hr.v {
			background-color: #999;
		}

		body > header .account-info em {
			color: #e7787c;
		}

		body > header .account-info a,
		body > header .account-info a:link {
			color: #aaa;
		}

		body > header .account-info .account a {
			color: #eee;
		}

		body > header .account-info a:visited {
			color: #aaa;
		}

		body > header .account-info a:active,
		body > header .account-info a:hover {
			color: white;
		}





body > footer {
	}


	body > footer nav ul li:hover {
		color: white;
	}

	body > footer nav ul li:before {
		border-left-color: #8a9aa7 !important;
	}




body > aside .icons-list > li {
	color: white;
	background-color: #4f88cd;
	cursor: pointer;
	border: 1px solid transparent;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.26);
}

body > aside .icons-list > li:hover {
	background-color: #8bf;
	border: 1px solid #69f;
	box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.13);
}




.chief-content > .page-wrap > header {
	border-bottom-color: #adadad;
	border-bottom-color: #373030;
	}

	.chief-content > .page-wrap > header:after {
		border-color: #ddd;
		background: linear-gradient(to bottom, rgba(0,0,0,0.08) 0%, transparent 100% );
	}

	.chief-content > .page-wrap > header h1 {
		color: #4a5863;
		color: black;
		text-shadow: 2px 2px 8px rgba(0,0,0,0.2), 2px 2px 2px rgba(0,0,0,0.2);
	}



.icon {
	}

	.icon.custom-services {
		background-image: url(../images/_common/icon-custom-services.png);
	}

	.icon.leave-messages {
		background-image: url(../images/_common/icon-leave-messages.png);
	}



.links-group {
	}

	.links-group.align-left ul li:before {
		border-left-color: #4a5863 !important;
	}

	.links-group.align-right ul li:after {
		border-left-color: #4a5863 !important;
	}

	.links-group,
	.links-group ul li a,
	.links-group ul li a:link {
		color: #999;
	}

	.links-group ul li a:visited {
		color: #999;
	}

	.links-group ul li:hover,
	.links-group ul li:active,
	.links-group ul li:hover a,
	.links-group ul li:active a,
	.links-group ul li a:hover,
	.links-group ul li a:active {
		color: black;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	}

	.links-group ul li.current,
	.links-group ul li.current a,
	.links-group ul li.current a:link {
		color: #444;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	}

	.links-group ul li.current:hover,
	.links-group ul li.current:active,
	.links-group ul li.current:hover a,
	.links-group ul li.current:active a,
	.links-group ul li.current a:hover,
	.links-group ul li.current a:active {
		color: black;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	}




.bread-crumbs {
	}

	.bread-crumbs ul li:not(:first-of-type):before {
		color: #4d5760;
	}

	.bread-crumbs,
	.bread-crumbs ul li a,
	.bread-crumbs ul li a:link {
		color: #696969;
	}

	.bread-crumbs ul li a:visited {
		color: #696969;
	}

	.bread-crumbs ul li a:hover,
	.bread-crumbs ul li a:active {
		color: black;
	}






.chief-content section {
	border-color: #e8e7e8;
	background-color: white;
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.05);
	}

	.chief-content section.single-line-info-bar {
		}

		.chief-content section.single-line-info-bar aside i {
			color: #bbb;
		}

		.chief-content section.single-line-info-bar aside em {
		}


	.chief-content section > header {
		background-color: #fafafa;
		border-bottom: 1px solid #eaeaea;
		}

		.chief-content section > header h3 {
			color: black;
		}

		.chief-content section > header.large {
			background-color: white;
			border-bottom: 1px solid #ddd;
		}




	.chief-content section article {
		}

		.chief-content section article h2 {
		}




table.data-sheet {
	color: black;
	}

	table.data-sheet thead {
	}

	table.data-sheet tfoot {
	}

	table.data-sheet tbody {
	}



	table.data-sheet tr {
		border-bottom: 1px solid #e0e0e0;
		}

		table.data-sheet thead tr {
			background-color: white;
		}

		table.data-sheet tfoot tr {
			background-color: #f9f9f9;
		}



		table.data-sheet tbody tr {
		}

		table.data-sheet tbody tr:nth-child(odd) {
			background-color: #f8f8f8;
		}

		table.data-sheet tbody tr:nth-child(even) {
			background-color: #f0f0f0;
		}

		table.data-sheet tbody tr.selected,
		table.data-sheet tbody tr:hover {
			color: white;
			background-color: black;
		}



	table.data-sheet a,
	table.data-sheet a:link {
		color: #0094ff;
		}

		table.data-sheet a:visited {
			color: #0094ff;
		}

		table.data-sheet a:hover,
		table.data-sheet a:active {
			color: #6ef;
		}



	table.data-sheet.ad-activities-management tr td:nth-of-type(6)  {
		color: #f83;
	}

	table.data-sheet.ads-management td:first-of-type a:hover,
	table.data-sheet.ad-activities-management td:first-of-type a:hover,
	table.data-sheet.ad-assets-management td:first-of-type a:hover {
		color: white !important;
		background-color: #36c;
	}

	table.data-sheet.ads-management td:nth-of-type(2) a.failure:hover,
	table.data-sheet.ad-assets-management td:nth-of-type(2) a.failure:hover {
		color: white !important;
		background-color: #c33;
	}



form {
	}

	form .row {
		color: #888;
	}

	form hr {
		margin: auto;
		margin-top: 1em;
		margin-bottom: 1em;
		background-color: transparent;
		/*background-image: linear-gradient(to right, transparent 0%, #373030 20%, #373030 80%, transparent 100%);*/
		background-image: linear-gradient(to right, transparent 2%, #e8e8e8 20%, #e8e8e8 80%, transparent 98%);
		background-image: -moz-linear-gradient(to right, white 2%, #e8e8e8 20%, #e8e8e8 80%, white 98%);
	}

	form hr.spacer {
		height: 0;
		background-color: transparent;
		background: none;
	}

	form .row:not(.no-hover):not(.buttons-section):hover {
		color: white;
		background-color: #373030;
		/*text-shadow: 0px 0px 3px rgba(16,0,0,0.8);*/
	}

	form .row:not(.no-hover):hover input {
		border-color: white;
	}

	form .row.required {
	}

	form .row > aside {
	}

	form .row > aside:nth-of-type(1) {
	}

	form .row > aside:nth-of-type(2) {
	}


	form .row.required > aside:nth-of-type(1):not(:empty),
	form .row.required label {
		color: #f66;
	}

	form .row.required:not(.no-hover):hover > aside:nth-of-type(1):not(:empty),
	form .row.required:not(.no-hover):hover label {
		color: white;
	}

	form .row.required > aside:nth-of-type(1):not(:empty):before {
	}




	form .row > aside:nth-of-type(2) p {
	}

	form .row > aside:nth-of-type(2) .desc {
	}

	form .row.buttons-section {
		background-color: #fafafa;
		border-color: #f0f0f0;
		border-style: solid;
		border-width: 1px 0;
	}
	form .row.buttons-section:hover {
		background-color: #fefefe;
		border-color: #ccc;
	}


	form .row > aside:nth-of-type(2) fieldset {
	}



#backplate {
	background-color: rgba(0,0,0,0.75);
}


.popup-window {
	background-color: white;
	}

	.popup-window,
	.popup-window.has-border {
		border: 1px solid black;
	}

	.popup-window > header {
		background-color: #eee;
		border-bottom: 1px solid #ddd;
	}




ul.labelled-list {
}
	ul.labelled-list > li {
	}

	ul.labelled-list > li > label:first-child,
	ul.labelled-list > li:before {
		color: #8ac;
	}

	ul.labelled-list.ad-status-list > li:nth-of-type(1):before {
		content: '广告名称';
	}
	ul.labelled-list.ad-status-list > li:nth-of-type(2):before {
		content: '提交时间';
	}
	ul.labelled-list.ad-status-list > li:nth-of-type(3):before {
		content: '审核时间';
	}
	ul.labelled-list.ad-status-list > li:nth-of-type(4):before {
		content: '审核失败原因';
	}

	ul.labelled-list.ad-status-list > li:nth-of-type(1) {
		color: blue;
	}

	ul.labelled-list.ad-status-list > li:nth-of-type(4) {
		color: red;
	}




	ul.labelled-list.ad-assets-status-list > li:nth-of-type(1):before {
		content: '素材名称';
	}
	ul.labelled-list.ad-assets-status-list > li:nth-of-type(2):before {
		content: '提交时间';
	}
	ul.labelled-list.ad-assets-status-list > li:nth-of-type(3):before {
		content: '审核时间';
	}
	ul.labelled-list.ad-assets-status-list > li:nth-of-type(4):before {
		content: '审核失败原因';
	}

	ul.labelled-list.ad-assets-status-list > li:nth-of-type(1) {
		color: blue;
	}

	ul.labelled-list.ad-assets-status-list > li:nth-of-type(4) {
		color: red;
	}



time.date {
	color: #3c3;
}

time.clock {
	color: #f33;
}

